@import "https://fonts.googleapis.com/css?family=Libre+Franklin|Raleway|Gayathri|Roboto+Condensed&display=swap";

.itembox {
  font-family: "Times New Roman", Times, serif;
  color: rgb(19, 122, 19);
  width: 100%;
}

.main-bg {
  background-color: rgb(255, 255, 255);
}

#homecontainer {
  background-color: rgb(255, 255, 255);
}

.product-text {
  color: #000000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: medium;
}

.price-text {
  color: green;
  font-family: "Raleway", sans-serif;
  font-size: medium;
}

.text_pos {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10%);
}

.image_size {
  max-width: 350px;
  max-height: 350px;
  min-width: 300px;
  min-height: 300px;
}

.banner {
  background: rgb(86, 216, 255);
  background: linear-gradient(
    180deg,
    rgba(86, 216, 255, 1) 5%,
    rgba(61, 110, 122, 1) 100%
  );

  color: rgb(68, 189, 226);
  display: block;
}

#pagination {
  border: 2px solid rgba(5, 218, 255, 0.349);
  border-radius: 2px;
  color: white;
}

.center {
  position: absolute;
  left: 46.5%;
}

.content {
  padding: 10px;
}

.btn-lmao {
  background: rgb(95, 218, 255);
  color: rgb(255, 255, 255);
  border: 2px solid rgba(3, 159, 221, 0.349);
  border-radius: 3px;
  padding: 5px 10px;
}

.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: #fff;
  filter: contrast(20);
}
.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
@-moz-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-webkit-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-o-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-moz-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-webkit-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-o-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
