/* Declare some variables */
$base-color: #ced4da;
$light-background: lighten(desaturate($base-color, 50%), 12.5%);

#hehe {
  background-color: rgb(255, 38, 38);
  border: 2px solid rgba(0, 126, 148, 0.349);
  border-radius: 2px;
  color: white;

  &:hover {
    background-color: green;
  }

  &:active {
    background-color: orange;
  }
}
